@model dynamic

@{
	ViewBag.Title = "Yay.Enumerations - Versions";
}

<h2>Yay.Enumerations - Versions</h2>

<div>
	This site is a demo for two packages:
	<ul>
		<li>Yay.Enumerations</li>
		<li>Yay.Enumerations.MVC</li>
	</ul>
	both of which are currently released together. The source is in a single solution.
</div>
<ul>
	<li>Current Version is: <b>0.5.1</b> Source:
		<a href="https://bitbucket.org/jpope/enumeration-demo/src/2a11798888b2ae78b19c6867765fba20626a27c0?at=Version0.5.1 ">Browse</a>
		<a href="">Download</a><br/>
		Release notes:
		<ul>
			<li>Yay.Enumerations
				<ul>
					<li>Fixed issue with equality</li>
				</ul>
			</li>
			<li>Yay.Enumerations.MVC
				<ul>
					<li>Added Display template for EnumerationBase</li>
				</ul>
			</li>
		</ul>
	</li>
	<li>Version: 0.5.0<br/>
		Initial public release, mostly testing for bugs. All source code should be treated as beta and is subject to change.
	</li>
</ul>



