@model Website.Models.EmployeeDetailsModel

<h2>Employee Details</h2>

Name: @Html.DisplayFor(x => x.FirstName) <br/>
Job Title: @Html.DisplayFor(x => x.EmployeeType)<br/>
Bonus: @Html.DisplayFor(x => x.EmployeeType.Bonus)<br/>