@model dynamic

@{
	ViewBag.Title = "Getting Started - Downloading a package from Nuget";
}

<h2>Downloading a package from Nuget</h2>

<ol>
	<li>
		Right click on the Reference in Solution Explorer and click add reference: <br/>
		<img src="@Url.Content("~/Content/Images/GettingStarted/nuget_add_reference.png")" alt=""/>
	</li>
	<li>
		Click "Nuget Official Package Source" on the left, then search in the top right corner for Yay. Install the package shown. <br/>
		<img src="@Url.Content("~/Content/Images/GettingStarted/nuget_search_picture.png")" alt=""/>
	</li>
</ol>

@Html.ActionLink("Return to main getting started instructions", "Index")